.header{
	display: flex;
	align-items: center;
	background-color: #ed1d24;
	padding: 5px;
}

#logo{
	width: 150px;
	align-items: center;
}

ul{
	display: flex;
	padding: 10px;
	justify-content: flex-end;
	padding-left: 55% /*65%*/;
}
li{
	font-size: 25px;
	list-style-type: none;
	padding-right: 5px;
}
a{
	color: white;
	text-decoration: none;
}
#avenger{
	width: 100%;
}
.main{
	display: flex;
	padding: 110px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.falcon{
	display: flex;
	padding: 80px;
	align-items: center;
	justify-content: center;
}
.winter{
	display: flex;
	padding: 80px;
	align-items: center;
	justify-content: center;
}
img{
	padding-right: 20px;
	width: 350px;
}
#redBtn{
	background: #ff0400;
	margin-right: 20px;
	padding: 8px;
	border: 1px solid #ff0400;
	border-radius: 10%;
	font-family: Calibri Light;
}
#blueBtn{
	background: #003542;
	padding: 10px;
	border: 1px solid #003542;
	border-radius: 10%;
	font-family: Calibri Light;
}
p{
	font-family: 'Akaya Telivigala', cursive;
}
h2{
	font-family: 'Akaya Telivigala', cursive;
}



.footer{
	display: flex;
	align-items: center;
	background-color: #ed1d24;
	padding: 7px;
}
.fa {
  padding: 7px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  color: white;

}
.fa:hover {
  opacity: 0.7;
}
#fEnd{
	padding-left: 45%;
	color: white;
	font-family: 'Redressed', cursive;
}
